.portfolio-container {
    display: flex;
    height: 100%;
    position: relative;
    background-color: var(--bg-color); /* 使用主题变量 */
    color: var(--text-color); /* 使用主题变量 */
}

.main-wrapper {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 100%;
    overflow-y: auto;
}

#site-header {
    width: 100%;
    background-color: var(--header-footer-bg); /* 使用主题变量 */
    padding: 1%;
    color: var(--header-footer-text); /* 使用主题变量 */
}

#site-footer {
    width: 100%;
    background-color: var(--header-footer-bg); /* 使用主题变量 */
    padding: 1%;
    color: var(--header-footer-text); /* 使用主题变量 */
    margin-top: auto;
}

/* 添加主内容区域的样式 */
#main-content {
    background-color: var(--bg-color); /* 使用主题变量 */
    color: var(--text-color); /* 使用主题变量 */
    padding: 20px;
}